:root {
	--font-content: -apple-system, BlinkMacSystemFont, "Inter", "IBM Plex Sans", Segoe UI, Helvetica, Arial,
		sans-serif;
	--font-ui: var(--font-content);
	--font-mono: IBM Plex Mono, monospace;
	--border-radius: 4px;
	--font-small: 0.875em;
	--font-smaller: 0.8em;
	--wrap-wide: 1000px;
	--wrap-normal: 37em;
	--input-width: 20em;
	--image-radius: 6px;
	--line-height: 1.5;

	@media (max-width: 860px) {
		--wrap-normal: 88vw;
		--wrap-wide: 100vw;
		--input-width: 100%;

		.wide {
			--border-radius: 0;
			--image-radius: 0;
		}
	}
}

:root {
	--flexoki-black: #100F0F;
	--flexoki-black-rgb: 16, 15, 15;

	--flexoki-paper: #FFFCF0;
	--flexoki-paper-rgb: 254, 252, 240;

	--flexoki-950: #1C1B1A;
	--flexoki-900: #282726;
	--flexoki-850: #343331;
	--flexoki-800: #403E3C;
	--flexoki-700: #575653;
	--flexoki-600: #6F6E69;
	--flexoki-500: #878580;
	--flexoki-300: #B7B5AC;
	--flexoki-200: #CECDC3;
	--flexoki-150: #DAD8CE;
	--flexoki-100: #E6E4D9;
	--flexoki-50: #F2F0E5;

	--flexoki-200-rgb: 206, 205, 195;

	--flexoki-red-600: #AF3029;
	--flexoki-red-400: #D14D41;

	--flexoki-orange-600: #BC5215;
	--flexoki-orange-400: #DA702C;

	--flexoki-yellow-900: #4D3A0B;
	--flexoki-yellow-600: #AD8301;
	--flexoki-yellow-400: #D0A215;
	--flexoki-yellow-100: #FCEEB8;

	--flexoki-green-600: #66800B;
	--flexoki-green-400: #879A39;

	--flexoki-cyan-950: #142625;
	--flexoki-cyan-600: #24837B;
	--flexoki-cyan-400: #3AA99F;
	--flexoki-cyan-50: #EBF2E7;

	--flexoki-blue-600: #205EA6;
	--flexoki-blue-400: #4385BE;

	--flexoki-purple-600: #5E409D;
	--flexoki-purple-400: #8B7EC8;

	--flexoki-magenta-600: #A02F6F;
	--flexoki-magenta-400: #CE5D97;
}

:root {
	--color-bg-primary: var(--flexoki-paper);
	--color-bg-primary-rgb: var(--flexoki-paper-rgb);

	--color-bg-secondary: var(--flexoki-50);

	--color-tx-normal: var(--flexoki-black);
	--color-tx-normal-rgb: var(--flexoki-black-rgb);
	--color-tx-muted: var(--flexoki-600);
	--color-tx-faint: var(--flexoki-300);

	--color-ui-normal: var(--flexoki-100);
	--color-ui-hover: var(--flexoki-150);
	--color-ui-active: var(--flexoki-200);

	--color-highlight: var(--flexoki-yellow-100);

	--color-action: var(--flexoki-cyan-600);
	--color-bg-hover: var(--flexoki-cyan-50);
	--color-selection: var(--flexoki-cyan-50);

	--color-re: var(--flexoki-red-600);
	--color-re-hover: var(--flexoki-red-400);
	--color-or: var(--flexoki-orange-600);
	--color-or-hover: var(--flexoki-orange-400);
	--color-ye: var(--flexoki-yellow-600);
	--color-ye-hover: var(--flexoki-yellow-400);
	--color-gr: var(--flexoki-green-600);
	--color-gr-hover: var(--flexoki-green-400);
	--color-cy: var(--flexoki-cyan-600);
	--color-cy-hover: var(--flexoki-cyan-400);
	--color-bl: var(--flexoki-blue-600);
	--color-bl-hover: var(--flexoki-blue-400);
	--color-pu: var(--flexoki-purple-600);
	--color-pu-hover: var(--flexoki-purple-400);
	--color-ma: var(--flexoki-magenta-600);
	--color-ma-hover: var(--flexoki-magenta-400);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-bg-primary: var(--flexoki-black);
		--color-bg-primary-rgb: var(--flexoki-black-rgb);

		--color-bg-secondary: var(--flexoki-950);

		--color-tx-normal: var(--flexoki-200);
		--color-tx-normal-rgb: var(--flexoki-200-rgb);

		--color-tx-muted: var(--flexoki-500);
		--color-tx-faint: var(--flexoki-700);

		--color-ui-normal: var(--flexoki-900);
		--color-ui-hover: var(--flexoki-850);
		--color-ui-active: var(--flexoki-800);

		--color-highlight: var(--flexoki-yellow-900);

		--color-action: var(--flexoki-cyan-400);
		--color-bg-hover: var(--flexoki-cyan-950);
		--color-selection: var(--flexoki-cyan-950);

		--color-re: var(--flexoki-red-400);
		--color-re-hover: var(--flexoki-red-600);
		--color-or: var(--flexoki-orange-400);
		--color-or-hover: var(--flexoki-orange-600);
		--color-ye: var(--flexoki-yellow-400);
		--color-ye-hover: var(--flexoki-yellow-600);
		--color-gr: var(--flexoki-green-400);
		--color-gr-hover: var(--flexoki-green-600);
		--color-cy: var(--flexoki-cyan-400);
		--color-cy-hover: var(--flexoki-cyan-600);
		--color-bl: var(--flexoki-blue-400);
		--color-bl-hover: var(--flexoki-blue-600);
		--color-pu: var(--flexoki-purple-400);
		--color-pu-hover: var(--flexoki-purple-600);
		--color-ma: var(--flexoki-magenta-400);
		--color-ma-hover: var(--flexoki-magenta-600);
	}
}

/* Gap */
.gap1 {
	gap: 1rem;
}

/* Padding */
.pa {
	padding: 1rem;
}

.pt {
	padding-top: 1rem;
}

.pr {
	padding-right: 1rem;
}

.pb {
	padding-bottom: 1rem;
}

.pl {
	padding-left: 1rem;
}

.ppa {
	padding: 2rem;
}

.ppt {
	padding-top: 2rem;
}

.ppr {
	padding-right: 2rem;
}

.ppb {
	padding-bottom: 2rem;
}

.ppl {
	padding-left: 2rem;
}

.pn1 {
	padding-top: 2rem;
}

.pn2 {
	padding-top: 4rem;
}

.pn3 {
	padding-top: 6rem;
}

.pn4 {
	padding-top: 8rem;
}

.ps1 {
	padding-bottom: 2rem;
}

.ps2 {
	padding-bottom: 4rem;
}

.ps3 {
	padding-bottom: 6rem;
}

.ps4 {
	padding-bottom: 8rem;
}

/* Spacing */
.st {
	margin-top: 1rem;
}

.sr {
	margin-right: 1rem;
}

.sb {
	margin-bottom: 1rem;
}

.sl {
	margin-left: 1rem;
}

.sst {
	margin-top: 2rem;
}

.ssr {
	margin-right: 2rem;
}

.ssb {
	margin-bottom: 2rem;
}

.ssl {
	margin-left: 2rem;
}

/* Spacing */
.mn1 {
	margin-top: 2rem;
}

.mn2 {
	margin-top: 4rem;
}

.mn3 {
	margin-top: 6rem;
}

.mn4 {
	margin-top: 8rem;
}

.ms1 {
	margin-bottom: 2rem;
}

.ms2 {
	margin-bottom: 4rem;
}

.ms3 {
	margin-bottom: 6rem;
}

.ms4 {
	margin-bottom: 8rem;
}