<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  {% elif section.description %}
  <meta name="description" content="{{ section.description }}">
  {% endif %}

  {% block rss %}{% endblock%}

  <link rel="stylesheet" href="/style.css">
  <link rel="icon" type="image/svg+xml" href="/icon.svg">
  <title>heka.no</title>
</head>

<body>
  <nav>
    <div class="header flex align-center font-ui">
      <span class="flex-grow">
        <a class="internal-link plain" href="/">Henrik Næss</a>
      </span>
      <span class="flex-shrink ssr">
        <a href="/contact/" class="muted plain">contact</a>
        <a href="/now/" class="muted plain ssl mh">now</a>
        <a href="/blog/" class="muted plain ssl mh">blog</a>
        <a href="/projects/" class="muted plain ssl mh">projects</a>
      </span>
    </div>
  </nav>
  <main>
    {% block content %} {% endblock %}
  </main>
</body>

</html>