{% extends "base.html" %}

{% block rss %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="/projects/atom.xml", trailing_slash=false) }}">
{% endblock %}

{% block content %}
  <h1 class="title">{{ section.title }}</h1>
  {% if section.pages | length > 0 %}
    <ul class="index-list">
      {% for page in section.pages %}
        <li>
          {% if page.updated %}
            <span>{{ page.updated }}</span>
          {% else %}
            <span>{{ page.date }}</span>
          {% endif %}
          <a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    Wops, no posts yet.
  {% endif %}
{% endblock content %}